<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listado de Sucursales</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<div class="row">
			<br>
			<h1 class="text-center" style="margin-top: 10px">Llista de
				Sucursals</h1>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<a th:href="@{/sucursales/add}" style="margin-bottom: 10px"
					class="btn btn-primary btn-sm mb3">Afegir Sucursal</a>
			</div>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th class="text-center">ID Sucursal</th>
					<th class="text-center">Nom</th>
					<th class="text-center">Pais</th>
					<th class="text-center">UE / Fora UE</th>
					<th class="text-center">Opcions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sucursal : ${sucursales}">
					<td class="text-center" th:text=${sucursal.pk_SucursalID}>ID
						Sucursal</td>
					<td class="text-center" th:text=${sucursal.nomSucursal}>Nom</td>
					<td class="text-center" th:text=${sucursal.paisSucursal}>Pais</td>
					<td class="text-center" th:text=${sucursal.tipusSucursal}>UE /
						Fora UE</td>
					<td colspan="5" style="text-align: center;"><a
						th:href="@{/sucursales/update/{id}(id=${sucursal.pk_SucursalID})}"
						class="btn btn-primary">Editar </a> <a
						th:href="@{/sucursales/delete/{id}(id=${sucursal.pk_SucursalID})}"
						class="btn btn-danger">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-md-8">
				<form th:action="@{/sucursales/search}" method="get">
					<label for="idBuscar">Buscar per ID:</label> <input type="number"
						id="idBuscar" name="id" />
					<button type="submit" class="btn btn-sm btn-success">Buscar
						Sucursal</button>
				</form>
			</div>
		</div>
	</div>
	<div>
		<!--Si el modelo contiene "mensaje", texteamelo-->
		<!-- Modelo solo tendra mensaje si id en search es null o no se encuentra -->
		<div th:if="${mensaje}" class="alert alert-danger; text-center"
			style="color: red;">
			<p th:text="${mensaje}"></p>
			<div style="text-align: center; margin-top: 30px">
				<a th:href="@{/sucursales}">Tornar al llistat de sucursals</a>
			</div>
		</div>
	</div>


</body>
</html>